# Python & Bytecode
__pycache__/
*.py[cod]
.pytest_cache/

# System & IDE
.DS_Store
.vscode/
.idea/
nohup.out
8
*.save

# Large Datasets & Model Checkpoints
data/
datasets/
results/
checkpoints/
*.pth
*.pt
*.npy
*.mat
*.h5
*.csv